<template name="about">
    <div class="row"></div>
    <div class="row">
    <div class="col-sm-4 block">
        <h3>ABOUT THE METHOD</h3>
        <P>Sensory Labyrinth Theater is a form of interactive, sensory, experimental theater, which presumes a direct, constant and personal connection to each spectator. During a Sensory Labyrinth Theater show the participants enter a journey one at a time, as main characters, in which they will genuinely have to interact with characters and situations.
        This form of theater was developed side-by-side by neuropsychologists and has the potential of having a therapeutic effect on its spectators by facing them during the show with real-life challenges in a safe environment. Therefore the whole journey is mimicking a labyrinth inside each spectator through which he can achieve higher self-knowing and understanding.
        </P>
    </div>
    <div class="col-sm-4 block">
        <img src="/assets/images/culise-vertical.jpg">
    </div>
    <div class="col-sm-4 block">
        <h3>ABOUT US</h3>
        <P>Asylum Labyrinth Theatre was founded in 2014 in Sibiu, as a solution to a problem found everywhere. Our goal is to heal and reestablish the natural bond between each spectator with his present and his actual self.
            After 7 shows and hundreds of spectators who stepped over our threshold in Sibiu, since august 2015 the company extended to offer the people of Timisoara a constant source of experimental theatre, gathering until now a total of 9 different shows and about 70 representations, each one of them reaching different social issues, but also the modern man’s genuine life problems.
        </P>
    </div>
    </div>
</template>