<template name="footer">
    <!-- Footer -->
    <footer class="page-footer font-big bg-light">
        <!-- Footer Links -->
        <div class="container-fluid align-center text-center ">
            <a href="https://www.facebook.com/AsylumLabyrinth/">
                <i class="fa fa-facebook fa-3x"></i>
            </a>
            <a href="https://www.instagram.com/asylum.labyrinth/">
                <i class="fa fa-instagram fa-3x"></i>
            </a>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 ">© 2018 Copyright:
            <a href="https://asylumlabyrinth.com/"> asylumlabyrinth.com</a>
        </div>
    </footer>
    <!-- Footer -->
</template>
