<template name="gallery">
	<div id="book">
		<canvas id="pageflip-canvas"></canvas>
		<div id="pages">
			<section>
				<div>
					<h2>History</h2>
					<p>Canvas .</p>
				</div>
			</section>
			<section>
				<div>
					<h2>Usage</h2>
					<p>Canvas consists of a drawable region defined in HTML code with height and width attributes. JavaScript code may access the .</p>
				</div>
			</section>
			<section>
				<div>
					<h2>Reactions</h2>
					<p>At the time of its introduction the canvas element was met with mixed reactions from the web standards community. There have been arguments against Apple's decision to create a new proprietary element instead of supporting the SVG standard. There are other concerns about syntax e.g. the absence of a namespace.</p>
				</div>
			</section>
		</div>
	</div>
</template>