<template name="personal-profile">
    {{#if isAdmin}}
        <h3 class="align-center">Welcome to the control panel of your application</h3>
        <div class="row">
            <div class="col-sm-6 block">
                <h5>Add a new show.</h5>
                {{> quickForm collection="Shows" id="createShowForm" type="insert"}}
                <!--<input type="file" class="myFileInput">-->
                <!--<input type="submit" value="Upload">-->
                {{#if submittedS}}
                    <div class="alert alert-primary" role="alert">
                        The show was created successfully!
                    </div>
                {{/if}}
            </div>
            <div class="col-sm-6 block">
                <h5>Add a new representation for a show.</h5>
                {{> quickForm collection="Representations" id="createRepresentationForm" type="insert"}}
                {{#if submittedR}}
                    <div class="alert alert-primary" role="alert">
                        The representation was created successfully!
                    </div>

                {{/if}}
            </div>
        </div>

    {{else}}
        <h3 class="align-center">Welcome to your personal Asylum Labyrinth page</h3>
        <h5 class="align-center-nospace">Here you can view your personal chart, based on your experience in the labyrinth.</h5>
        <div class="ct-chart ct-golden-section" id="chart1"></div>
    {{/if}}
</template>