<template name="personal-profile">
    {{#if isAdmin}}
        <h3 class="align-center">Welcome to the control panel of your application</h3>
        <div class="row">
            <div class="col-sm-6 block">
                <h5>Add a new show.</h5>
                {{#autoForm collection="Shows" id="createShowForm" type="insert"}}
                    {{> afQuickField name="title" autocomplete="off"}}
                    {{> afQuickField name="summary" autocomplete="off"}}
                    {{> afQuickField name = "image" autocomplete="off"}}
                    <button type="submit">Submit</button>
                {{/autoForm}}

                {{#if submittedS}}
                    <div class="alert alert-primary" role="alert">
                        The show was created successfully!
                    </div>
                {{/if}}
            </div>

            <div class="col-sm-6 block">
                <h5>Add a new representation for a show.</h5>
                {{#autoForm collection="Representations" id="createRepresentationForm" type="insert"}}
                    {{> afQuickField name="labyrinth" autocomplete="off"}}
                    {{> afQuickField name="date" autocomplete="off"}}
                    {{> afQuickField name="startingTime" autocomplete="off"}}
                    {{> afQuickField name="endingTime" autocomplete="off"}}
                    {{> afQuickField name="location" autocomplete="off"}}
                    <button type="submit">Submit</button>
                {{/autoForm}}

                {{#if submittedR}}
                    <div class="alert alert-primary" role="alert">
                        The representation was created successfully!
                    </div>

                {{/if}}
            </div>
        </div>

    {{else}}
        <h3 class="align-center">Welcome to your personal Asylum Labyrinth page</h3>
        <h5 class="align-center-nospace">Here you can view your personal chart, based on your experience in the labyrinth.</h5>
        <div class="chart-wrap"><div class="ct-chart ct-golden-section" id="chart1"></div></div>
        <div class="definitions">
            <h3>Center</h3>
            <p>how present you are, how honest you are to yourself. </p>
            <h3>Internal</h3>
            <p>how you relate to yourself and to your own aptitudes, self-confidance, strength</p>
            <h3>Relational</h3>
            <p>how empathic you are and how strong your confidence towards others is</p>
            <h3>External</h3>
            <p>how open you are to new experiences or the unknown, spontaneity, courage</p>
        </div>
    {{/if}}
</template>
