<template name="personal-profile">
{{#if isAdmin}}
    
    <h3 class="align-center">Welcome to the control panel of your application</h3>
    <!--Main layout-->
    <div class="container-fluid">
        <!--Section: Accordion-->
        <section class="mb-5">
            <!--Accordion wrapper-->
            <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne">
                        <!-- Heading -->
                        <a id="folder-1" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="mt-1 mb-0">
                                <span>Add a new show</span>
                                <i class="fa fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                           {{#autoForm collection="Shows" id="createShowForm" type="insert"}}
                                {{> afQuickField name="title" autocomplete="off"}}
                                {{> afQuickField name="summary" autocomplete="off"}}
                                {{> afQuickField name = "image" autocomplete="off"}}
                                <button type="submit">Submit</button>
                            {{/autoForm}}
                            {{#if submittedS}}
                                <div class="alert alert-primary" role="alert">
                                    The show was created successfully!
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne">
                        <!-- Heading -->
                        <a id="folder-1" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h5 class="mt-1 mb-0">
                                <span>Add a new event</span>
                                <i class="fa fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body">
                            {{#autoForm collection="Representations" id="createRepresentationForm" type="insert"}}
                                {{> afQuickField name="labyrinth" autocomplete="off"}}
                                {{> afQuickField name="date" autocomplete="off"}}
                                {{> afQuickField name="startingTime" autocomplete="off"}}
                                {{> afQuickField name="endingTime" autocomplete="off"}}
                                {{> afQuickField name="location" autocomplete="off"}}
                                <button type="submit">Submit</button>
                            {{/autoForm}}

                            {{#if submittedR}}
                                <div class="alert alert-primary" role="alert">
                                    The representation was created successfully!
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
            </div>
            <!--/.Accordion wrapper-->
        </section>
        <!--Section: Accordion-->

        <!--Section: Modals-->
        <section>

            <!--Modal: modalConfirmDelete-->
            <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                    <!--Content-->
                    <div class="modal-content text-center">
                        <!--Header-->
                        <div class="modal-header d-flex justify-content-center">
                            <p class="heading">Are you sure?</p>
                        </div>

                        <!--Body-->
                        <div class="modal-body">

                            <i class="fa fa-times fa-4x animated rotateIn"></i>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer flex-center">
                            <a href="https://mdbootstrap.com/product/material-design-for-bootstrap-pro/" class="btn  btn-danger">Yes</a>
                            <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No</a>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: modalConfirmDelete-->
        </section>
        <!--Section: Modals-->

        <!--Section: Table-->
        <section class="mb-5">

            <!--Top Table UI-->
            <div class="card p-2 mb-5">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-12">
                        <!--Name-->
                        <select class="mdb-select colorful-select dropdown-primary mx-2">
                            <option value="1">Delete</option>
                            <option value="3">Change</option>
                        </select>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6">

                        <!--Blue select-->
                        <select class="mdb-select colorful-select dropdown-primary mx-2">
                            <option value="" disabled selected>Labyrinths</option>
                            <option value="1">Metamorphosis
                                <span> 1</span>
                            </option>
                            <option value="2">Origins
                                <span> 4</span>
                            </option>
                            <option value="3">Asylum
                                <span> 3</span>
                            </option>
                        </select>
                        <!--/Blue select-->
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

            </div>
            <!--Top Table UI-->
            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card header-->
                <div class="view view-cascade py-3 gradient-card-header info-color-dark mx-4 d-flex justify-content-between align-items-center">

                    <div>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                            <i class="fa fa-th-large mt-0"></i>
                        </button>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                            <i class="fa fa-columns mt-0"></i>
                        </button>
                    </div>

                    <a href="" class="white-text mx-3">Representations</a>

                    <div>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                            <i class="fa fa-pencil mt-0"></i>
                        </button>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="modal" data-target="#modalConfirmDelete">
                            <i class="fa fa-remove mt-0"></i>
                        </button>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                            <i class="fa fa-info-circle mt-0"></i>
                        </button>
                    </div>

                </div>
                <!--/Card header-->

                <!--Card content-->
                <div class="card-body card-body-cascade">

                    <div class="table-responsive">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <input class="form-check-input" type="checkbox" id="checkbox">
                                        <label for="checkbox" class="label-table form-check-label"></label>
                                    </th>
                                    <th class="th-lg">Labyrinth name</th>
                                    <th class="th-lg">Date</th>
                                    <th class="th-lg">Location</th>
                                    <th class="th-lg">Total bookings</th>
                                    <th class="th-lg">Total confirmed participants</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <input class="form-check-input" type="checkbox" id="checkbox1">
                                        <label for="checkbox1" class="label-table form-check-label"></label>
                                    </th>
                                    <td>Metamorphosis</td>
                                    <td>6 iun 2018</td>
                                    <td>Jecza gallery</td>
                                    <td>40</td>
                                    <td>35</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <input class="form-check-input" type="checkbox" id="checkbox2">
                                        <label for="checkbox2" class="label-table form-check-label"></label>
                                    </th>
                                    <td>Metamorphosis</td>
                                    <td>6 iun 2018</td>
                                    <td>Jecza gallery</td>
                                    <td>40</td>
                                    <td>35</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr class="my-0">

                    <!--Bottom Table UI-->
                    <div class="d-flex justify-content-between">

                    </div>
                    <!--Bottom Table UI-->
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </section>
        <!--Section: Table-->



    </div>
    <!--Main layout-->

<!--         <div class="row">
            <div class="col-sm-6 block">
                <h5>Add a new show.</h5> 
            </div>

            <div class="col-sm-6 block">
                <h5>Add a new representation for a show.</h5>
            </div>
        </div> -->

<!-- if user is not admin -->
    {{else}}
        {{#if currentUser}}
            <h3 class="align-center">Welcome to your personal Asylum Labyrinth page</h3>
            <h5 class="align-center-nospace">Here you can view your personal chart, based on your experience in the labyrinth.</h5>
            <div class="chart-wrap"><div class="ct-chart ct-golden-section" id="chart1"></div></div>
            <div class="definitions">
                <h3>Center</h3>
                <p>how present you are, how honest you are to yourself. </p>
                <h3>Internal</h3>
                <p>how you relate to yourself and to your own aptitudes, self-confidance, strength</p>
                <h3>Relational</h3>
                <p>how empathic you are and how strong your confidence towards others is</p>
                <h3>External</h3>
                <p>how open you are to new experiences or the unknown, spontaneity, courage</p>
            </div>
        {{else}}
            <h3>You are not logged in</h3>
        {{/if}}
    {{/if}}
</template>
