/*

.navbar{
	position: absolute;
	display: inline-block;
}*/

.wrapper{
	position: relative;
	width:80%;
	margin: auto;
    margin-top: 40px;	
    padding-bottom: 170px;
}

#book {
	background: url('/assets/images/book2.png') no-repeat;
	position: relative;
	width: 1036px;
	height: 606px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    left: 100px;
	z-index: -98;
}

#pages section {
	background: url('/assets/images/page1.png') no-repeat;
	display: block;
	width: 1036px;
	height: 750px;
	position: absolute;
	left: 15px;
	top: 0px;
	overflow: hidden;
	z-index: -90;
}
	#pages section>div {
		display: block;
		width: 400px;
		height: 250px;
		font-size: 12px;
	}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}


.page-footer{
	position: fixed;
	padding-bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
	bottom: 0;		
	height: 120px;
	z-index: 0;
}

.container-fluid{
	padding-top: 20px;
}

h4, h5, h2{
	text-align: center;
	padding-bottom: 20px;
}

.block{
	position:relative;
}

.block img{
	margin: auto;
    width: 80%;
    display: block;
}

@media (max-width: 646px){
	#book{
	width:540px; /* you can use % */
    height: auto;
    left:0px;
	}
}