/*

.navbar{
	position: absolute;
	display: inline-block;
}*/

.wrapper{
	position: relative;
	width:80%;
	margin: auto;
    margin-top: 40px;	
    padding-bottom: 170px;
}

#book {
	background: url('/assets/images/book2.png') no-repeat;
	position: relative;
	width: 800px;
	height: 585px;
    margin-left: auto;
    margin-right: auto;
    display: block;
	z-index: -98;
}

#pages section {
	
	display: block;
	width: 383px;
	height: 585px;
	position: absolute;
	left: 15px;
	top: 0px;
	overflow: hidden;
	z-index: -90;
}


#pageflip-canvas {
	position: absolute;
	z-index: 100;
}


.page-footer{
	position: fixed;
	padding-bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
	bottom: -5px;		
	height: 120px;
	z-index: 0;
}

.container-fluid{
	padding-top: 20px;
}

h4, h5, h2{
	text-align: center;
	padding-bottom: 20px;
}

.block{
	position:relative;
}

.block img{
	margin: auto;
    width: 80%;
    display: block;
}

@media (max-width: 646px){
	#book{
	width:540px; /* you can use % */
    height: auto;
    left:0px;
	}
}

body{
	height: 100%; 
}

#__blaze-root{
	height: 100vh;  
}